<section data-ng-controller="guestbooksController" data-ng-init="findOne()">

    <!--<div class="pull-right" data-ng-show="authentication.user._id == guestbook.user._id">-->
    <!--<a class="btn btn-primary" data-ui-sref="articles.edit({articleId: article._id})">-->
    <!--<span class="glyphicon glyphicon-edit"></span>-->
    <!--</a>-->
    <div>
        <small>
            <em>
                Posted on
                <span data-ng-bind="guestbookOne.guestbook.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="guestbookOne.guestbook.user.displayName"></span>
            </em>
        </small>
        <p class="lead" data-ng-bind="guestbookOne.guestbook.content"></p>

        <div class="col-md-offset-11">
            <!--<button class="btn btn-default" data-ng-click="togglleMenu(guestbook)">-->
                <!--<span class="glyphicon glyphicon-edit"></span>-->
            <!--</button>-->
            <span data-ng-show="authentication.user._id == guestbookOne.guestbook.user._id">
                <button class="btn btn-default" data-ng-click="remove();">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
        </div>
    </div>

    <div data-ng-controller="commentsController">

        <form name="Acomment" id="Acomment" class="form-horizontal" ng-submit="reply()">
            <div>
                <textarea ng-model="content" id="content" class="form-control" placeholder="Comment"></textarea>
                <input class="btn button-default" type="submit" value="确定"/>
                <!--<button class="btn button-default" ng-click="togglleMenu(guestbook)">取消</button>-->
            </div>
        </form>
    </div>

        <!--<div data-ng-repeat="x in comment" class="list-group-item">-->
            <!--<h4 data-ng-bind="x.user.displayName+'  '+'回复:'"></h4>-->
            <!--<h5 class="list-group-item-text" data-ng-bind="x.content"></h5>-->

            <!--<div data-ng-bind="x.created | date: 'yyyy-MM-dd H:mm:ss'"></div>-->
        <!--</div>-->

    <div data-ng-repeat="x in guestbookOne.comments" class="list-group-item">
        <h4 data-ng-bind="x.user.displayName+'  '+'回复:'"></h4>
        <h5 class="list-group-item-text" data-ng-bind="x.content"></h5>

        <div data-ng-bind="x.created | date: 'yyyy-MM-dd H:mm:ss'"></div>
    </div>



</section>

